Source: ros-kilted-geometry2
Section: misc
Priority: optional
Maintainer: Alejandro Hernandez Cordero <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ros-workspace
Homepage: http://www.ros.org/wiki/geometry2
Standards-Version: 3.9.2

Package: ros-kilted-geometry2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-tf2, ros-kilted-tf2-bullet, ros-kilted-tf2-eigen, ros-kilted-tf2-eigen-kdl, ros-kilted-tf2-geometry-msgs, ros-kilted-tf2-kdl, ros-kilted-tf2-msgs, ros-kilted-tf2-py, ros-kilted-tf2-ros, ros-kilted-tf2-sensor-msgs, ros-kilted-tf2-tools, ros-kilted-ros-workspace
Description: A metapackage to bring in the default packages second generation Transform Library in ros, tf2.
