Source: ros-kilted-tf2-ros-py
Section: misc
Priority: optional
Maintainer: Alejandro Hernandez Cordero <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-kilted-ament-xmllint <!nocheck>, ros-kilted-sensor-msgs <!nocheck>, ros-kilted-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://www.ros.org/wiki/tf2_ros
Standards-Version: 3.9.2

Package: ros-kilted-tf2-ros-py
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-kilted-builtin-interfaces, ros-kilted-geometry-msgs, ros-kilted-rclpy, ros-kilted-sensor-msgs, ros-kilted-std-msgs, ros-kilted-tf2-msgs, ros-kilted-tf2-py, ros-kilted-ros-workspace
Description: This package contains the ROS Python bindings for the tf2 library
